spring:
  application:
    name: service-auth
  config:
    import: optional:configserver:http://localhost:8085

  # ✅ Configuración de H2
  datasource:
    url: jdbc:h2:mem:authdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true  # Accede a la BD en http://localhost:8080/h2-console

  # ✅ JPA - Creación automática de tablas
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update  # Crea/actualiza tablas automáticamente
    show-sql: true      # Muestra las queries SQL en consola
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: tuSecretDeAlMenos32CaracteresParaHS256Seguro